{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<div>
  {{#with person}}
    <main>
      <section>
        {{> title data='Person' big=true}}
        
          <hr>
          
          <h1>{{name}}</h1>
          
          <hr>
          <br>

          <p><mark>Age:</mark> 32</p>
          <p><mark>Gender:</mark> female</p>

          <br>

            {{#with address}}   
              <b><address><p>Address</p></address></b>
                    <ul>
                      <li><address>street: {{street}}</address></li>
                      <li><address>city: {{city}}</address></li>
                      <li><address>state: {{state}}</address></li>
                      <li><address>zip: {{zip}}</address></li>
                      <li><address>country: {{country}}</address></li>
                    </ul>
            {{/with}}

          <br>

            {{#each education}}   
              <b><p>Education</p></b>
                    <ul>
                      <li>degree: {{degree}}</li>
                      <li>major: {{major}}</li>
                      <li>university: {{university}}</li>
                      <li>graduationYear: {{graduationYear}}</li>
                    </ul>
            {{/each}}
            
            <br>

            {{#each workExperience}}   
              <b><p><em>WorkExperience</em></p></b>
                    <ul>
                      <li><b>company: {{company}}</b></li>
                      <li><b>title: {{title}}</b></li>
                      <li><b>startDate: {{startDate}}</b></li>
                      <li><b>endDate: {{endDate}}</b></li>
                      <li><b>responsibilities: {{responsibilities}}</b></li>
                      <li><b>year founded: {{year_founded}}</b></li>
                      <li><b>industry: {{industry}}</b></li>
                    </ul>
                    
                    <br>

                    {{#each employees}}   
                      <b><p>Employees</p></b>
                            <ul>
                              <li>name: {{name}}</li>
                              <li>position: {{position}}</li>
                              <li>department: {{department}}</li>
                            </ul>

                            {{#each projects}}
                              <b><p>Projects</p></b>
                                    <ul>
                                      <li>name: {{name}}</li>
                                      <li>description: {{description:}}</li>
                                      <li>status: {{status}}</li>
                                    </ul>

                                    {{#each teams}}
                                      <b><p>Teams</p></b>
                                        <ul>
                                          <li><b>team name:</b> {{team_name}}</li>
                                          {{#with team_leader}}
                                            <b><p>team_leader</p></b>
                                                  <ul>
                                                    <li>name: {{name}}</li>
                                                    <li>title: {{title}}</li>
                                                    <li>email: {{email}}</li>
                                                  </ul>
                                          {{/with}}
                                         
                                          {{#each team_members}}
                                            <b><p>team_members</p></b>
                                                  <ul>
                                                    <li>name: {{name}}</li>
                                                    <li>title: {{title}}</li>
                                                    <li>email: {{email}}</li>
                                                    <li>skills: {{skills}}</li>
                                                    {{#each projects}}
                                                      <b><p>projects</p></b>
                                                            <ul>
                                                              <li>name: {{name}}</li>
                                                              <li>description: {{description}}</li>
                                                              <li>technologies: {{technologies}}</li>
                                                            </ul>
                                                    {{/each}}
                                                    
                                                    {{#each team_members}}
                                                      <b><p>team_members</p></b>
                                                            <ul>
                                                              <h1>name: {{name}} title: {{title}}</h1>
                                                              <h2>name: {{name}} title: {{title}}</h2>
                                                            </ul>
                                                    {{/each}}
                                                  </ul>
                                          {{/each}}
                                        </ul>
                                    {{/each}}
                            {{/each}}
                    {{/each}} 
            {{/each}}                        
      </section>
    </main>
  {{/with}}    
</div>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}